* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*::selection {
  background-color: var(--mainRed);
  color: #fff;
}

a {
  text-decoration: none;
  color: white;
}

p,
h1,
h2 {
  color: white;
}

ul {
  list-style: none;
  color: #fff;
}

:root {
  --mainRed: #ff4532;
  --spotifyGreen: #1db954;
}

/* 
font-family: 'JetBrains Mono', monospace;
font-family: 'Poppins', sans-serif;
*/

/* 
Spotify
#edf5e1
#8ee4af
#5cdb95
#907163
#379683
*/

/* 
Green Blue
#05386B - dark blue
#379683
#5cdb95
#8334af
#edf5e1
*/

.copyright {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
}

.copyright p {
  font-size: 10px;
  letter-spacing: 2px;
  color: var(--spotifyGreen);
}

.copyright p span {
  color: #ff4532;
}
